@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:500&display=swap rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:500&display=swap rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Ubuntu&display=swap");
body {
  color: #4d4848;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  background: #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0; }
  body img {
    max-width: 100%; }

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em; }

h1 {
  color: #59c5f0;
  line-height: 1;
  font-size: 3rem; }
  h1 span {
    display: block;
    letter-spacing: 0.15em;
    font-size: 5.5rem;
    color: #a7a7a7;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Baloo Thambi 2", cursive; }

h2 {
  letter-spacing: 0.15em;
  font-size: 2rem;
  color: #a7a7a7;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Baloo Thambi 2", cursive; }

p {
  font-size: 1rem; }

.content-welcome {
  display: flex; }

.content {
  background-image: url(../img/burger-center.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  text-align: center;
  opacity: 1;
  z-index: -1; }
  .content h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
    color: #e9c9c9;
    line-height: 1.9;
    text-align: center;
    font-weight: 300; }
  .content p {
    padding: 1em;
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.6rem;
    border: 1px solid white; }

.content-right img,
.content-left img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%; }

.hero {
  background-image: url(../img/burger-3.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
    color: #664d4d;
    line-height: 1.9;
    text-align: center;
    font-weight: 300;
    animation: moveToleft;
    animation-duration: 1.3s; }
    .hero h1 span {
      color: #59c5f0;
      font-family: 'Anton', sans-serif;
      letter-spacing: 15px;
      font-size: 6rem;
      display: block;
      animation: moveToRight;
      animation-duration: 1.3s; }
    .hero h1::before, .hero h1::after {
      content: '';
      width: 50%;
      height: 2px;
      background: wheat;
      display: block;
      margin: 0 auto; }
    .hero h1::before {
      margin: 1 auto 2em; }
    .hero h1::after {
      margin: 1em auto 0;
      width: 80%; }
  .hero .overlay {
    background-color: rgba(250, 215, 215, 0.5);
    padding: 1em;
    border-radius: 70%;
    margin: 2px; }

.about-us {
  background-image: url(../img/burger-right.jpeg);
  display: grid;
  grid-template-rows: 1fr;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 2em;
  text-align: center;
  opacity: 1;
  z-index: -1; }
  .about-us h1 {
    padding: 1em;
    color: #59c5f0;
    background: black;
    border-radius: 1%;
    opacity: 0.5; }
  .about-us h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
    color: #0c0909;
    line-height: 1.9;
    text-align: center;
    font-weight: 300; }
  .about-us p {
    color: #080808;
    font-size: 1.2em; }
  .about-us p:hover {
    border: 2px solid white; }

.footer {
  position: relative;
  margin-bottom: 0;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  background: gray; }
  .footer .container {
    display: inline;
    padding: 1em;
    margin: 1em;
    justify-content: center;
    align-items: center; }
    .footer .container ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .footer .container ul li {
        text-decoration: none;
        border-spacing: 2rem;
        margin-right: 2em; }
        .footer .container ul li a {
          text-decoration: none;
          color: black; }
        .footer .container ul li a:hover {
          color: #04b2f7; }
    .footer .container p {
      color: #0f0f0f;
      margin-top: 1em;
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      justify-content: center;
      text-align: center;
      font-size: 20px; }

.contact-us {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flexbox;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  text-align: center; }

.contact-form {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px; }

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%; }

.input-fields,
.msg {
  width: 48%; }

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid gray; }

@keyframes moveToleft {
  0% {
    transform: translateX(120px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveToRight {
  0% {
    transform: translateY(200px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.about-us {
  background-image: url(../img/burger-right.jpeg);
  display: grid;
  grid-template-rows: 1fr;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 2em;
  text-align: center;
  opacity: 1;
  z-index: -1; }
  .about-us h1 {
    padding: 1em;
    color: #59c5f0;
    background: black;
    border-radius: 1%;
    opacity: 0.5; }
  .about-us h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
    color: #0c0909;
    line-height: 1.9;
    text-align: center;
    font-weight: 300; }
  .about-us p {
    color: #080808;
    font-size: 1.2em; }
  .about-us p:hover {
    border: 2px solid white; }

.footer {
  position: relative;
  margin-bottom: 0;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  background: gray; }
  .footer .container {
    display: inline;
    padding: 1em;
    margin: 1em;
    justify-content: center;
    align-items: center; }
    .footer .container ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .footer .container ul li {
        text-decoration: none;
        border-spacing: 2rem;
        margin-right: 2em; }
        .footer .container ul li a {
          text-decoration: none;
          color: black; }
        .footer .container ul li a:hover {
          color: #04b2f7; }
    .footer .container p {
      color: #0f0f0f;
      margin-top: 1em;
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      justify-content: center;
      text-align: center;
      font-size: 20px; }

.contact-us {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flexbox;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  text-align: center; }

.contact-form {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px; }

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%; }

.input-fields,
.msg {
  width: 48%; }

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid gray; }
